body{
    background-color: #d1f8f8;
}
.nav_img{
    height: 40px;
}
#banner h1 span{
    color: #dfab01;
}
.card_img img{
    height: 300px;
}

.card_img{
    margin: 15px;
    background-color: #dddddd;
    border-radius: 8px;
}
.card_border{
    border-radius: 5px;

}
.card_footer_border{
    border: none;
    background-color: white;
}
button img{
    height: 1.5em;
}
#jackets h2, #shoes h2{
    color: #836400;
} 

.left_box{
    height: 150px;
    border-radius: 15px;
}
.left_box img{
    height: 100px;
    padding: 10px;
}